body{
    background-color: rgb(188, 21, 230);
}
table {
  border-collapse: collapse;
  margin: auto;
}
td {
  width: 30px;
  height: 30px;
}
.blanc {
  background-color: white;
}
.jaune {
  background-color: yellow;
}
.noir {
  background-color: black;
}
.gris {
  background-color: grey;
}
.bleu {
  background-color: blue;
}
.green {
  background-color: green;
}
#ligne14,
#ligne15,
#ligne16 {
  color: white;
}
